html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes deslizar_izq {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

#app {
    display: flex;
    justify-content: center;
}

#logo-r{
    height: 60%;
    width: 30%;
    margin-right: 50px;
  }

#box2 {
    background-color: #01021C;
    width: 60%;
    height: 500px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 0 15px 15px white;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: deslizar_izq 1s;
}

#frase2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: solid 1px black;*/
}

#palabras {
    color: white;
    margin-bottom: 10px;
}

#expl {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

#formulario2 {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#form {
    width: 100%;
}

#params2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

input {
    background-color: transparent;
    width: 85%;
    padding: 15px;
    border: none;
    border-bottom: white 2px solid;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 24px;
}

#icon {
    height: 30px;
    width: max-content;
}

#btn3 {
    width: 95%;
    height: 15%;
    border-radius: 25px;
    font-size: larger;
    margin-top: 15px;
    background: rgb(13, 7, 195);
    background: linear-gradient(24deg, rgba(13, 7, 195, 1) 0%, rgba(4, 165, 231, 1) 78%, rgba(15, 99, 89, 1) 99%);
    transition: 0.5s ease-in-out all;
}

#btn3:hover {
    background: rgb(13, 7, 195);
    transform: translateY(-5px);
}

#parr_reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}