body{
    height: 100%;
    width: 100%;
}
#root{  
    height: 100%;
    width: 100%;
}

#contenedor{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(5, minmax(150px,1fr));
    grid-template-rows: repeat(10,minmax(1fr,1fr));
}

#encabezado{
    grid-column-start: span 5;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

#logo-v{
    height: 100%;
    width: 20%;
}

#barra_lateral{
    grid-row-start: span 9;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#elemento{
    margin: 5px;
    width: 100%;
    font-size: 20px;
    transition: font-weight 0.3s;
}

#elemento:hover{
    font-weight: bolder;
    font-style: italic;
    color: bisque;
}

#contenido{
    grid-row-start: span 9;
    grid-column-start: span 4;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

#prueba{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#image{
    height: 60%;
    width: 60%;
    border-radius: 15px;
    transition: scale 0.5s;
}

#image:hover{
    scale: 1.05;
    box-shadow: 0 0 5px 5px white;
}